<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="/assets/jquery/js/jquery-3.2.1.min.js"></script>
<video id="video"></video>
<script>
    function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    }
    $.ajax({
        url: '/video/start?videoFile=' + getUrlParameter('name')
    }).then(function(data){
        console.log('data', data);
        if(Hls.isSupported()) {
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('http://localhost/hls/video-mp4.m3u8');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.play();
            });
        }
    })
</script>